# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
dep/glfw/CMakeFiles/
dep/glfw/Makefile
dep/glfw/cmake_install.cmake
dep/glfw/cmake_uninstall.cmake
dep/glfw/examples/CMakeFiles/
dep/glfw/examples/Makefile
dep/glfw/examples/boing
dep/glfw/examples/cmake_install.cmake
dep/glfw/examples/gears
dep/glfw/examples/heightmap
dep/glfw/examples/offscreen
dep/glfw/examples/particles
dep/glfw/examples/sharing
dep/glfw/examples/simple
dep/glfw/examples/splitview
dep/glfw/examples/wave
dep/glfw/src/CMakeFiles/
dep/glfw/src/Makefile
dep/glfw/src/cmake_install.cmake
dep/glfw/src/glfw3.pc
dep/glfw/src/glfw3Config.cmake
dep/glfw/src/glfw3ConfigVersion.cmake
dep/glfw/src/glfw_config.h
dep/glfw/tests/CMakeFiles/
dep/glfw/tests/Makefile
dep/glfw/tests/clipboard
dep/glfw/tests/cmake_install.cmake
dep/glfw/tests/cursor
dep/glfw/tests/empty
dep/glfw/tests/events
dep/glfw/tests/gamma
dep/glfw/tests/glfwinfo
dep/glfw/tests/icon
dep/glfw/tests/iconify
dep/glfw/tests/inputlag
dep/glfw/tests/joysticks
dep/glfw/tests/monitors
dep/glfw/tests/msaa
dep/glfw/tests/opacity
dep/glfw/tests/reopen
dep/glfw/tests/tearing
dep/glfw/tests/threads
dep/glfw/tests/timeout
dep/glfw/tests/title
dep/glfw/tests/triangle-vulkan
dep/glfw/tests/windows
tpSph
